@font-face {
   font-family: 'HYTianXinTiW';
   font-display: swap;
   src: url('HYTianXinTiW/font.ttf');
}
@font-face {
   font-family: 'HanyiSentyBrushSong';
   font-display: swap;
   src: url('HanyiSentyBrushSong/font.ttf');
}
