@font-face {
   font-family: 'HYTianXinTiW';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-11-01_140305/fonts/HYTianXinTiW/font.ttf');
}
